<mechane-pre
    {{if .MaxHeight}}
        mechane-pre-max-height="{{.MaxHeight}}"
    {{end}}
    {{if .OriginPosition}}
        mechane-pre-origin-position="{{.OriginPosition}}"
    {{end}}
    {{if .Theme}}
        mechane-pre-theme="{{.Theme}}"
    {{end}}
    {{if .Title}}
        title="{{.Title}}"
    {{end}}
    {{if .Width}}
        mechane-pre-width="{{.Width}}"
    {{end}}
>
    {{if .Buttons}}
        <div slot="buttons">
            <style>
                .pre-buttons {
                    display: flex;
                    flex-wrap: nowrap;
                    margin-bottom: 0.6em;
                }
                .pre-buttons mechane-button {
                    /* Facilitate alignment of text to buttons. */
                    min-width: {{.ButtonChars}}ch;
                }
            </style>
            <div class="pre-buttons">
                {{range .Buttons}}
                    {{.}}
                {{end}}
            </div>
        </div>
    {{end}}
    <div slot="pre">
        <style>
            pre {
                font-family: "CascadiaCode";
                margin: 0;
            }
        </style>
        <pre>{{.PreText}}</pre>
    </div>
</mechane-pre>