<mechane-button
    {{if .IsClickEffect}}
        mechane-button-click-effect="true"
        mechane-button-cooldown-duration="{{.CooldownDuration}}"
    {{end}}
    {{if .EffectName}}
        mechane-button-effect-name="{{.EffectName}}"
    {{end}}
    {{if and .IsIcon .IconColour}}
        mechane-button-icon-colour="{{.IconColour}}"
    {{end}}
    {{if and .IsIcon .IconFamily}}
        mechane-button-icon-family="{{.IconFamily}}"
    {{end}}
    {{if not .IsTabbable}}
        tabindex="-1"
    {{end}}
    {{if .OriginPosition}}
        mechane-button-origin-position="{{.OriginPosition}}"
    {{end}}
    {{if .Slot}}
        slot="{{.Slot}}"
    {{end}}
    {{if .Title}}
        title="{{.Title}}"
    {{end}}
    {{if .Theme}}
        mechane-button-theme="{{.Theme}}"
    {{end}}
>
    {{if .IsIcon}}
        <span slot="icon">{{.IconName}}</span>
    {{end}}
    {{if .Text}}
        <span slot="text">{{.Text}}</span>
    {{end}}
</mechane-button>