<mechane-textfield 
    {{if .IsSubmitEffect}}
        mechane-textfield-submit-effect="true"
        mechane-textfield-cooldown-duration="{{.CooldownDuration}}"
    {{end}}
    mechane-textfield-input-value="{{.InputValue}}"
    {{if .Label}}
        mechane-textfield-label="{{.Label}}"
    {{end}}
    {{if .Mask}}
        mechane-textfield-mask="true"
    {{end}}
    {{if .EffectName}}
        mechane-textfield-effect-name="{{.EffectName}}"
    {{end}}
    {{if .OriginPosition}}
        mechane-textfield-origin-position="{{.OriginPosition}}"
    {{end}}
    {{if .Placeholder}}
        mechane-textfield-placeholder="{{.Placeholder}}"
    {{end}}
    {{if lt .Size 0}}
        mechane-textfield-size="0"
    {{else if gt .Size 0}}
        mechane-textfield-size={{.Size}}
    {{end}}
    {{if .Spellcheck}}
        mechane-textfield-spellcheck="true"
    {{end}}
    {{if .Theme}}
        mechane-textfield-theme="{{.Theme}}"
    {{end}}
    {{if .Title}}
        title="{{.Title}}"
    {{end}}
    {{if and .IsIcon1 .Icon1Colour}}
        mechane-textfield-icon1-colour="{{.Icon1Colour}}"
    {{end}}
    {{if and .IsIcon1 .Icon1Family}}
        mechane-textfield-icon1-family="{{.Icon1Family}}"
    {{end}}
    {{if and .IsIcon2 .Icon2Colour}}
        mechane-textfield-icon2-colour="{{.Icon2Colour}}"
    {{end}}
    {{if and .IsIcon2 .Icon2Family}}
        mechane-textfield-icon2-family="{{.Icon2Family}}"
    {{end}}
>
    {{if .IsIcon1}}
        <span slot="icon1">{{.Icon1Name}}</span>
    {{end}}
    {{if .IsIcon2}}
        <span slot="icon2">{{.Icon2Name}}</span>
    {{end}}
    {{if .Button}}
        {{.Button}}
    {{end}}
</mechane-textfield>