/* 
Make the icons appear the right size for the context and approximately
vertically aligned with sibling text.
*/
#mechane-asciidoc-slot-content :is(
        .material-icons, 
        .material-icons-outlined,
        .material-icons-round,
        .material-icons-sharp,
        .material-icons-two-tone,
) {
    font-size: 1em;
    line-height: inherit;
    vertical-align: bottom;
}
