
/*
Updating or adding font URLs? Then remember to update the font preloading link
tags in index.html. Also remember to update the font rules in font.ts in the
custom elements directory in the Typescript integrant. Also, for Material Design
icon updates, do a 'go generate' in module mico after updating the icons in
order to update the icon names.
*/

@font-face {
    font-family: 'CascadiaCode';
    src: url('/font/CascadiaCode-2111.01/woff2/CascadiaCode.woff2') format('woff2'),
         url('/font/CascadiaCode-2111.01/ttf/CascadiaCode.ttf') format('truetype');
}

@font-face {
    font-family: 'CascadiaCode';
    src: url('/font/CascadiaCode-2111.01/woff2/CascadiaCodeItalic.woff2') format('woff2'),
         url('/font/CascadiaCode-2111.01/ttf/CascadiaCodeItalic.ttf') format('truetype');
    font-style: italic;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/font/material-design-icons/MaterialIcons.woff2') format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}


@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('/font/material-design-icons/MaterialIconsOutlined.woff2') format('woff2');
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}


@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url('/font/material-design-icons/MaterialIconsRound.woff2') format('woff2');
}

.material-icons-round {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}


@font-face {
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: 400;
    src: url('/font/material-design-icons/MaterialIconsSharp.woff2') format('woff2');
}

.material-icons-sharp {
    font-family: 'Material Icons Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}  


@font-face {
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: url('/font/material-design-icons/MaterialIconsTwoTone.woff2') format('woff2');
}

.material-icons-two-tone {
    font-family: 'Material Icons Two Tone';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}
